body {
	overflow-x: hidden;
    overflow-y: scroll;
	padding: 0;
	margin: 0;
    width: 100vw;
    height: 100vh;
}

#canvas {
    position: fixed;
    width: 100%;
    height: auto;
	margin: 0;
	padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: -1;
}


section {
    position: absolute;
    width: 100%;
    z-index: 2
    margin:1vw;

width: 100%;
height: 100vh;
position: relative;

}

.text-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section p{
    color:black;
    font-size: 2.25vh;
}

